# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
logs/*.log

# Output Artifacts
outputs/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Temporary
*.tmp
*.bak
